/*Creazione pagina in un formato standard.*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Aggiunta dello sfondo nella sezione che conterrà il logo.*/
.title-section{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size: 450px;
}

/*Gestione dello stile del logo.*/
.logo-image{
    width: 200px;
    padding-top: 40px;
    padding-bottom: 10px;
}

/*Stile per il titolo della notizia.*/
.argument-title{
    margin-top: 10px;
    font-size: 70px;
}

/*Crediti e data.*/
.credit{
    margin-top: 10px;
    font-size: 33px;
}

.author{
    color: rgb(37, 171, 229);
}

.date{
    font-size: 23px
}
.credit-date-section{
    color: rgb(111, 111, 111);
}

/*Sezione foto.*/
.photo-section{
    margin-top: 30px;
    object-fit: fill;
}

.tim-photo-1{
    width: 950px;
}

.tim-photo-2{
    width: 810px;
}

.photo-description{
    font-size: 20px;
}


.writing-article-section{
    margin-top: 30px;
    font-size: 30px;
}

.highlighted{
    background-color: yellow;
}

ul{
    font-size: 28px;
    margin-top: 50px;
    margin-left: 30px;
}

table{
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
}

thead{
    text-align: left;
    background-color: rgb(32, 169, 229);
    color: white;
}

th{
    width: 80px;
}

.colored-row{
    background-color: rgb(177, 229, 242);
}